@import '../../shared/Common.scss';

.stage-navigator {
    background: $gray-5;
    width: 100%;
    max-width: $task-container-max-width;
    height: $submit-button-height;
    font-size: 18px;
    border: none;
    user-select: none;
    outline: none;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;

    @mixin navigation-button {
        width: 33%;
        font-weight: bold;
        position: absolute;  
        user-select: none;
        border: none;
        font-size: 18px;
        outline: none;
        cursor: pointer;
    }

    .prev-button {
        @include navigation-button;
        left: 0;
        height: 100%;
        background: $gray-5;
        color: $blue;

        &.noPrev {
            cursor: initial;

            &:hover {
                background: $gray-5;
            }
        }

        &:hover {
            background: $gray-15;
        }

        &:after {
            content: "";
            height: calc(100% - 20px);
            width: 1px;
            background: $gray-15;
            position: absolute;
            right: 1px;
            top: 10px
        }
    }

    .stage {
        color: $gray-30;
        width: 100%;
    }

    .next-button {
        @include navigation-button;
        color: white;
        top: 0;
        right: 0;
        height: 100%;
        background: $blue;

        &:hover {
            background: $blue-20;
        }

        &:disabled {
            background: $gray-30;
            cursor: not-allowed;
        }
    }
}