@import '../../shared/Common.scss';

.format-container {
  color: $gray-50;
  font-size: 16px;
  padding: 20px;
  max-width: 750px;
  margin: 0 auto;

  & > H1 {
    font-weight: bold;
    color: $gray-75;
    font-size: 22px;
  }

  H2 {
    color: $gray-75;
    text-decoration: underline;
    font-size: 20px;
    margin-bottom: 0px;
  }

  H3 {
    color: $gray-75;
    font-size: 16px;
    margin-bottom: 0px;
  }

  H4 {
    color: $gray-75;
    font-size: 16px;
    margin-bottom: 0px;
  }

  p {
    margin-top: 5px;
    margin-bottom: 25px;
  }

  img {
    width: 50%;
    padding: 10px;
    border: 1px solid $gray-15;
    max-width: 300px;
  }

  table {
    border: 1px solid $gray-15;
    padding: 10px;

    thead {
      font-weight: bold;
    }

    tbody {
      tr {
        & > td {
          padding: 0 5px 0 5px;
        }
      }
    }
  }

  strong {
    color: $error-red;
  }
}
