@import '../../shared/Common.scss';

.CodeEditor {
  position: relative;
  width: calc(100% - 1px);
  height: 100%;
  overflow-y: scroll;
  display: inline-block;
  vertical-align: top;

  .CodeMirror-gutters {
    background-color: $white;
  }
}

.ReactCodeMirror {
  height: 100%;

  .CodeMirror {
    height: 100%;

    .CodeMirror-line {
      font-size: 22px;
    }

    .CodeMirror-linenumber {
      font-size: 22px;
    }
  }
}
