@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$gray-4: #f6f6f6;
$gray-5: #f2f2f2;
$gray-15: #d9d9d9;
$gray-20: #cccccc;
$gray-30: #b3b3b3;
$gray-40: #999999;
$gray-50: #808080;
$gray-60: #666666;
$gray-75: #404040;
$gray-85: #262626;

$orange: #f59f00;
$orange-light: #ffd88f;
$green: #00d9b4;
$green-20: #00a68a;
$green-40: #00735f;
$blue: #4a86e8;
$blue-20: #4176cc;
$purple: #5c2abf;
$red: #e33667;
$white: #ffffff;
$black: #000000;
$error-red: #ed143d;
$error-red-20: #ba0f30;
$red-10: rgba(255, 0, 0, 0.1);

$header-height: 50px;
$task-container-max-width: 600px;
$submit-button-height: 40px;
$code-container-column-width: 65px;

body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}
