@import '../../shared/Common.scss';

.task-container {
    width: calc(100% - 1px);
    height: 100%;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid $gray-15;

    .scrollable-area {
        height: calc(100% - #{$submit-button-height});
        overflow-y: scroll;
        display: flex;
        flex-direction: column;

        .instruction {
            width: calc(100% - 40px);
            color: $gray-50;
            background: $gray-5;
            padding: 10px;
            padding-bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .submit {
        background: $blue;
        max-width: $task-container-max-width;
        height: $submit-button-height;
        color: $white;
        padding: 10px;
        font-size: 18px;
        border: none;
        font-weight: bold;
        user-select: none;
        outline: none;
        width: 100%;
        cursor: pointer;

        &:hover {
            background: $blue-20;
        }

        &:disabled {
            background: $gray-30;
            cursor: not-allowed;
        }
    }
}