@import '../../shared/Common.scss';

.program-runner {

    @mixin runner-button {
        height: $submit-button-height;
        width: 50%;
        outline: none;
        font-weight: bold;
        border: none;
        user-select: none;
        cursor: pointer;
        font-size: 18px;
        vertical-align: top;
        color: $white;
    }

    .run {
        @include runner-button;
        background: $green-20;
        border-right: 1px solid $gray-30;

        &:hover {
            background: $green-40;
        }

        &:disabled {
            background: $gray-30;
            cursor: not-allowed;
        }
    }

    .submit {
        @include runner-button;
        background: $blue;

        &:hover {
            background: $blue-20;
        }

        &:disabled {
            background: $gray-30;
            cursor: not-allowed;
        }
    }
}