@import '../../shared/Common.scss';

.header {
  height: calc(#{$header-height - 21px});
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $gray-15;
  position: relative;

  .logo {
    font-family: 'Dosis', sans-serif;
    color: $orange;
    font-size: 24px;
    position: relative;
    user-select: none;
    text-decoration: none;
    display: inline-block;

    &:after {
      content: '';
      background-size: 24px 24px;
      position: absolute;
      width: 24px;
      height: 24px;
      top: 4px;
      left: -25px;
    }
  }

  .supplement {
    position: absolute;
    right: 20px;
    top: 10px;
    display: flex;

    .timer {
      font-size: 18px;
      margin-right: 15px;
      color: $error-red;

      &:before {
        content: attr(data-prefix);
        color: $black;
      }
    }

    .participant-id {
      color: $error-red;
      font-size: 18px;

      &:before {
        content: attr(data-prefix);
        color: $black;
      }
    }

    .tutorial {
      border: 1px solid $gray-30;
      border-radius: 4px;
      text-decoration: none;
      padding: 4px;
      font-size: 13px;
      color: $gray-85;

      &:hover {
        background: $gray-5;
      }
    }
  }
}
